:root {
    --back: #a3d2ca;
    --main: #5eaaa8;
    --light: #f7f3e9;
    --important: #f05945;
}
* {
    box-sizing: border-box;
}

body {
    background: var(--back);
    font-family: 'Roboto Slab', serif;
    color: var(--light);
}

h1 {
    text-align: center;
    font-size: 3rem;
    text-shadow: var(--main) 3px 2px;
}

.sprite:before{
    border-radius: 50%;
    content:'';
    display: block;
    position: absolute;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
    background: var(--main);
    width: 200px;
    height: 200px;
}
.sprite {
    min-height: 200px;
    text-align: center;
    margin-bottom: 2rem;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.sprite > img {
    flex: 1;
    display: inline;
}

.container {
    max-width: 800px;
    margin: auto;
}
button,
select,
input {
    border: none;
    background: var(--light);
    font-size: 1.7rem;
    padding: 0.5rem;
    width: 100%;
    margin-top: 0.5rem;
    font-family: 'Roboto Slab', serif;
    color: var(--main);
    border-radius: 5px;
}

button {
    cursor: pointer;
}
#search {
    position: relative;
}
.result {
    position: absolute;
    background: var(--main);
    color: var(--light);
    z-index: 1;
    left: 0;
    right: 0;
    padding: 0.8rem;
}

.result div {
    margin: .8rem 0;
}
.result .selected {
    background: var(--light);
    color: var(--main);
}

.hidden {
    display: none;
}

img {
    max-width: 100%;
    width: auto;
}

form {
    margin: 0;
}
form button {

    background: var(--main);
    color: var(--light);
}
.stop {
    background: var(--important);
    color: var(--light);
}


label {
    margin-top: 0.5rem;
    text-align: center;
    width: 100%;
    display: inline-block;
}
button:disabled {
    background: rgb(161, 161, 161);
}

.element {
    display: none;
}

.element.active {
    display: block;
}

nav ul {
    display: flex;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    flex: 1;
    text-align: center;
    padding: 1rem;
    background: var(--main);
    color: var(--light);
    cursor: pointer;
    margin: 0 .5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}
nav li.active {
    position: relative;
}
nav li.active::before {
    content: "●";
    width: 1rem;
    height: 1rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 2.4rem;
    font-size: .6rem;

}

.or {
    text-align: center;
    font-size: 2.6rem;
    text-transform: uppercase;
    margin: 1rem 0;
}